<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/star"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/star"
        android:supportsRtl="true"
        android:theme="@style/Theme.StarAutoSubmission"
        tools:targetApi="31">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="R7W9iHUyxtOV8hxgTpInAg5ybrc7UGyb" />
        <activity
            android:name=".SubmissionActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="false" />
        <activity android:name=".SplashActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity android:name=".RegisterActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="true"/>
        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.FullScreen"
            android:exported="true" />
        <activity android:name=".MyDevicesActivity"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity android:name=".SettingsActivity"
            android:theme="@style/AppTheme.FullScreen"/>
        <activity android:name=".AboutActivity"
            android:theme="@style/AppTheme.FullScreen"/>
        <provider
            android:name="cn.bmob.v3.util.BmobContentProvider"
            android:authorities="com.example.starautosubmission.BmobContentProvider">
        </provider>
        <receiver android:name=".NotificationReceiver" />
        <receiver android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
